<div class="mapa-container">
  <div id="map"></div>

  <div class="info-panel" *ngIf="paradaSelecionada">
    
    <div class="panel-header">
      <div>
        <h3>🚏 {{ paradaSelecionada.nome }}</h3>
        <p *ngIf="distanciaUsuario">A <strong>{{ distanciaUsuario }}</strong> de si</p>
      </div>
      <button class="btn-fechar" (click)="fecharPainel()">✕</button>
    </div>

<div class="panel-content">
      <h4>Próximos horários:</h4>
      
      <div *ngIf="!paradaSelecionada.horarios?.length" class="sem-horario">
        Nenhum horário cadastrado para este ponto no momento.
      </div>

      <div *ngIf="paradaSelecionada.horarios?.length && !horariosProximos.length" class="sem-horario">
        Não há mais ônibus previstos para hoje neste ponto.
      </div>

      <div class="horarios-grid">
        <ng-container *ngFor="let h of horariosProximos">
          <div 
            class="card-horario" 
            *ngIf="getRota(h.rotaId) as rotaRef"
            [style.border-left-color]="rotaRef.cor"
            [class.card-ativo]="rotaDestaqueSelecionada?.id === rotaRef.id"
            (click)="destacarRota(rotaRef.id!)"
          >
            <span class="hora">{{ h.hora }}</span>
            <span class="nome-rota" [style.color]="rotaRef.cor">{{ rotaRef.nome }}</span>
          </div>
        </ng-container>
      </div>

      <div class="dica-interativa" *ngIf="horariosProximos.length">
        <small>💡 Toque numa rota acima para visualizar o seu trajeto no mapa.</small>
      </div>
    </div>
  </div>
</div>