<div class="container">
    <div class="header">
        <p class="texto">Seja bem vindo ao Bustop!</p>
    </div>
    <div class="selecao">
        <p class="subtexto">Selecione a sua cidade e começe a viajar!
        </p>
        <mat-form-field>
            <mat-label>Sua cidade</mat-label>
              <mat-select>
                  <mat-option value="one">Itapeva</mat-option>
                  <mat-option value="two">Nova Campina</mat-option>
              </mat-select>
        </mat-form-field>
            <button class="avancar">avançar</button>
    </div>

</div>
