.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
}
.selecao{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 85%;
}
.texto{
    font-size: 26px;
    text-align: center;
}
.subtexto{
    font-size: 22px;
    text-align: center;
}
.avancar{
    border-radius: 1rem;
    font-size: 26px;
    height: 40px;
    margin-top: 20vh;
}