<div class="container">
    <div class="map">

    </div>
    <div class="navbar">
        <div class="cidade">
            <a href="/cidade">
                <img src="" alt="">cidade
            </a>
        </div>
        <div class="horario">
            <a href="/horario">
                <img src="" alt="">horario
            </a>            
        </div>
        <div class="apoio">
            <a href="/apoio">
                <img src="" alt="">apoio
            </a>
        </div>
        <div class="config">
            <a href="/config">
                <img src="" alt="">config
            </a>
        </div>
    </div>
</div>