<div class="container">
    <div class="map">

    </div>
    <div class="navbar">
        <div class="nav-container">
            <div class="nav-item">
                <a href="/cidade">
                    <img src="/assets/logos/map.png" alt="">
                </a>
            </div>
            <div class="nav-item">
                <a href="/horarios">
                    <img src="/assets/logos/clock.png" alt="">
                </a>            
            </div>
            <div class="nav-item">
                <a href="/apoio">
                    <img src="/assets/logos/crown.png" alt="">
                </a>
            </div>
            <div class="nav-item">
                <a href="/config">
                    <img src="/assets/logos/config.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>