<div class="container">
    <div class="voltar">
        <a href="/main"><img src="/assets/icones/voltar.png" alt=""></a>
    </div>
    <div class="title">
        <p>Apoie nosso App</p>
    </div>
    <hr>
    <div class="section">
        <p>Apoiador</p>
        <p>1 Mês - 5R$</p>
        <button>
            <a href="">Apoiar</a>
        </button>
    </div>
    <hr>
    <div class="section">
     <p>Super apoiador</p>
     <p>3 Meses - 10R$</p>
     <button>
        <a href="">Apoiar</a>
     </button>
    </div>
    <hr>
   <div class="section">
        <p>Fiel</p>
        <p>1 Ano - 15R$ ou mais</p>
        <button>
            <a href="">Apoiar</a>
        </button>
    </div>

</div>