<div class="container">
    <div class="voltar">
        <a href="/main"><img src="/assets/icones/voltar.png" alt=""></a>
    </div>
    <div class="title">
        <p>Configurações</p>
    </div>
    <hr>
    <div class="section">
    <mat-button-toggle-group name="TemaEscolhido" aria-label="Tema Escolhido">
    <mat-button-toggle value="light">Light</mat-button-toggle>
    <mat-button-toggle value="Dark">Dark</mat-button-toggle>
    </mat-button-toggle-group>
    </div>
    <hr>
    <div class="section">
     <p>Tamanho da fonte</p>
     <mat-slider>
         <input matSliderThumb>
    </mat-slider>
    </div>
    <hr>
    <div class="section">
        <a href="">Suporte</a>
    </div>
    <hr>
   <div class="section">
        <p>Desconectar conta Google</p>
        <button>
            <a href="">Logout</a>
        </button>
    </div>

</div>