.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
}
.tabela{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.tabela-img{
    max-width: 80vw;
}
.voltar{
    margin-top: 5vh;
}