<div class="container">
    <div class="header">
        <p>Veja os horarios do terminal</p>
    </div>
    <div class="main">
        <div>
            <mat-form-field>
                <mat-label>Sua cidade</mat-label>
                  <mat-select>
                      <mat-option value="one">Itapeva</mat-option>
                      <mat-option value="two">Nova Campina</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
    <div class="tabela">
        <img class="tabela-img" src="/assets/tabelas/tabela-itapeva.jpeg" alt="">
        <img class="tabela-img" src="/assets/tabelas/tabela-itapeva-fds.jpeg" alt="">
    </div>
    </div>
    <app-navbar></app-navbar>
</div>
