<div class="admin-container">
  
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Gerenciador de Rotas</h2>
      <button class="btn-criar" (click)="criarNovaRota()">+ Nova Rota</button>
    </div>

    <div class="lista-rotas">
      <div *ngIf="rotasVisuais.length === 0" class="empty-state">
        Nenhuma rota criada.<br>Clique em "+ Nova Rota".
      </div>

      <div 
        *ngFor="let rota of rotasVisuais" 
        class="rota-card" 
        [class.selecionada]="rota.id === rotaSelecionada?.id"
        (click)="selecionarRota(rota)"
      >
        <div class="rota-info">
          <span class="cor-dot" [style.background-color]="rota.cor"></span>
          <input 
            [(ngModel)]="rota.nome" 
            (blur)="atualizarNomeRota(rota)"
            (click)="$event.stopPropagation()"
            class="input-nome"
          >
        </div>
        <div class="btnexcluir">
          <button class="btn-excluir" (click)="excluirRota(rota, $event)" title="Excluir Rota">
              🗑️
          </button>
        </div>

        <div *ngIf="rota.id === rotaSelecionada?.id" class="rota-controles">
          <label class="ciclo-toggle">
            <input type="checkbox" [checked]="rota.isCiclica" (change)="alternarCiclo(rota)">
            Rota Cíclica (Volta ao início)
          </label>

            flex-direction: column;
<div class="ferramentas-desenho">
            <button 
              [class.ativo]="modoEdicao === 'caminho'" 
              (click)="modoEdicao = 'caminho'; $event.stopPropagation()">
              〰️ Trajeto
            </button>
            <button 
              [class.ativo]="modoEdicao === 'parada'" 
              (click)="modoEdicao = 'parada'; $event.stopPropagation()">
              🚏 Parada
            </button>
            <button 
              [class.ativo]="modoEdicao === 'borracha'" 
              class="btn-borracha"
              (click)="modoEdicao = 'borracha'; $event.stopPropagation()">
              🧹 Apagar
            </button>
          </div>
          
          <small class="dica-ferramenta" *ngIf="modoEdicao !== 'borracha'">
            Selecione a ferramenta e clique no mapa para desenhar.
          </small>
          <small class="dica-ferramenta" *ngIf="modoEdicao === 'borracha'" style="color: #dc3545; font-weight: bold;">
            Borracha ativa: Clique sobre um ponto ou parada para excluí-lo.
          </small>

          <div style="margin-top: 10px; font-size: 0.8rem; color: #666;">
            Resumo: {{ rota.paradas?.length || 0 }} paradas | {{ rota.caminho?.length || 0 }} nós de trajeto
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="map-wrapper">
    <div id="mapAdmin"></div>
  </div>

</div>